body {
    background-color: #e4e5fb;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #5b86f3;
}

span {
    line-height: 0.001px;
    line-break:strict;
}

section {
    margin-bottom: 1rem;
}

#names-input {
    height: 380px;
    width: 100%;
}

#rules-input {
    height: 90px;
    width: 100%;
}

#generate-teams-title {
    text-align: center;
    color: #6587d9;
    margin-top: 8%;
    letter-spacing: 1.5px;
}

.resultados {
    background-color: #6587d9;
}

.main-button {
    background-color: #6587d9;
    border-color: #6587d9;
    border-radius: 50px;

    width: 100%;
    max-width: 250px;
    height: 55px;
    padding: 10px 20px;
    line-height: normal;
}

.main-button:hover {
    background-color: #5c7dd2;
    border-color: #5c7dd2;
}

.secondary-button {
    background-color: transparent;
    border-color: white;
    border-radius: 50px;

    width: 100%;
    max-width: 250px;
    height: 55px;
    padding: 10px 20px;
    line-height: normal;

    margin-top: 20px;
    margin-bottom: 10px;
}

.secondary-button:hover {
    background-color: #8dabe3;
    border-color: white;
}

.secondary-button:active, 
.secondary-button:focus {
    background-color: #8dabe3 !important;
    border-color: white !important;
    box-shadow: none;
    outline: none;
}

.partial-ocupation {
    width: 60%;
    max-width: 500px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {
    .full-center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-form-square {
        background-image: linear-gradient(to bottom right, #6587d9, #9ebde3);
        background-color: #6587d9;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        text-align: center;
        min-height: 100%;
    }

    .right-form-square {
        background-color: white;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}

@media (max-width: 767px) {
    .full-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
    }

    .left-form-square {
        background-image: linear-gradient(to bottom right, #6587d9, #9ebde3);
        background-color: #6587d9;
        text-align: center;
        min-height: 100%;
    }

    .right-form-square {
        background-color: white;
    }

    .secondary-button {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.team-subtitle {
    color: white;
    font-weight: bold;
}

.team-players {
    color: #ecedff;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}